{% extends 'base.html.twig' %}

{% block title %}News HackArdennes{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>News</h1>


    <table class="table">
        <thead>
            <tr>
                <th>Auteur</th>
                <th>Titre</th>
                <th>Résumé</th>
                <th>Lien</th>
                <th>Image</th>
                <th>Video</th>
                <th>Label</th>
                <th>Publié le</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr>
                <td>{{ news.author }}</td>
                <td>{{ news.title }}</td>
                <td>{{ news.summary }}</td>
                <td>{{ news.link }}</td>
                <td>{{ news.image1 }}</td>
                <td>{{ news.video1 }}</td>
                <td>{{ news.tag }}</td>
                <td>{{ news.createdAt ? news.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('news_show', {'id': news.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">Aucune news de trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
</div>
{% endblock %}
