{% extends 'base.html.twig' %}

{% block title %}News HackArdennes{% endblock %}

{% block body %}
<style>

</style>

<div class="">
    <h1>News</h1>


    <table class="table">
        <thead>
            <tr>
                <th>Auteur</th>
                <th>Titre</th>
                <th>Résumé</th>
                <th>Lien</th>
                <th>Image</th>
                <th>Label</th>
                <th>Publié le</th>
            </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr>
                <td>{{ news.author }}</td>
                <td>{{ news.title }}</td>
                <td>{{ news.summary }}</td>
                <td><a href="{{ news.link }}" target="_blank">{{ news.link }}</a></td>
                <td><img src="{{ news.image1 }}" width="150px"></td>
                <td>{{ news.tag }}</td>
                <td>{{ news.createdAt ? news.createdAt|date('d-m-Y') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">Aucune news de trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
</div>
{% endblock %}
